.project-link-item {
  display: inline-block;
}

.project-link-anchor {
  margin: 0.5rem;
  padding: 0.5rem;
  display: inline-block;
}

.project-link-item .title {
  font-size: 1.8rem;
}

.project-link-item .subtitle {
  font-size: 1.4rem;
}
